.app {
  color: #444;
  max-width: 700px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

ul {
  padding-left: 1rem;
}

ul.no-pl {
  padding-left: 0;
}

#name {
  width: 250px !important;
  margin: 0 auto;
}

.form-group {
  display: inline-block;
}

@media (max-width: 768px) {
  #name {
    width: 200px !important;
  }
  ul {
    padding-left: 0rem;
  }

  .form-group {
    display: block;
    margin-bottom: 1rem;
  }
}

.btn {
  background: #6c63ff;
  border-color: #6c63ff;
  margin: 0 0 0.2rem 1rem;
}

.btn:hover,
.btn:active {
  background: #0a00b1;
  border-color: #0a00b1;
}
